# Cấu hình API và Tên dự án
PROJECT_NAME="Dental Q&A AI Agent"
API_V1_STR="/api/v1"

# Đường dẫn kết nối MongoDB Atlas (Thay thế bằng URI thật của bạn sau khi tạo trên Web)
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/dental_db?retryWrites=true&w=majority"

# Cấu hình API Key của Mô hình Ngôn ngữ Lớn (Gemini/OpenAI)
# GEMINI_API_KEY="your-gemini-api-key-here"

# Cấu hình kết nối Qdrant Vector DB (Docker cục bộ)
QDRANT_URL="http://localhost:6333"

