streamlit==1.58.0
python-dotenv==1.2.2
pytesseract==0.3.13
langchain-core==1.4.8
langchain-community==0.4.2
langchain-text-splitters==1.1.2
langchain-huggingface==1.2.2
langchain-ollama==1.1.0
langchain-qdrant==1.1.0
qdrant-client==1.18.0
unstructured[pdf]==0.24.0